$blue: #37d1de;
$purple: #9035eb;
$yellow: #ffdd20;
$green: #58e8a2;
$red: #ff726f;

.comingsoonbox {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 300px;

	h1 {
		font-weight: normal;
		font-size: 50px;
		color: $purple;
		text-decoration: underline;
		text-decoration-color: $blue;
		text-decoration-thickness: 5px;
		text-underline-offset: 20px;
	}
}
