$blue: #37d1de;
$purple: #9035eb;
$yellow: #ffdd20;
$green: #58e8a2;
$red: #ff726f;

.mainbox {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;

	h1 {
		font-weight: 900;
		font-size: 55px;
		text-decoration: underline;
		text-decoration-color: $purple;
		text-decoration-thickness: 3px;
		text-underline-offset: 20px;
	}
}
