$blue: #37d1de;
$purple: #9035eb;
$yellow: #ffdd20;
$green: #58e8a2;
$red: #ff726f;

.container {
	width: 100%;

	h1 {
		text-align: center;
		font-size: 48px;
		margin: 80px 0 40px 0;
		font-weight: normal;
		text-decoration: underline;
		-moz-text-decoration-color: $blue;
		text-decoration-color: $blue;
		text-decoration-thickness: 3px;
		text-underline-offset: 20px;
	}
}

.mainbox {
	width: 100%;
	display: flex;
	justify-content: center;

	.topcontent {
		width: 1200px;
		display: flex;
		justify-content: space-between;
		margin-top: 160px;
	}

	.leftbox {
		width: 470px;

		.gamegraphic {
			width: 472px;
			height: 664px;
			transform: translateX(-50px);
		}
	}

	.rightbox {
		p:nth-child(1) {
			font-size: 22px;
			font-weight: bold;
			margin: 10px 0 10px 0;
			color: $purple;
		}

		p:nth-child(2) {
			font-weight: normal;
			font-size: 48px;
			margin: 40px 0 40px 0;

			span {
				color: $purple;
			}
		}

		p:nth-child(3) {
			font-weight: 100;
			font-size: 28px;
			margin: 10px 0 10px 0;
		}

		.rightboxbuttons {
			width: 500px;
			display: flex;
			justify-content: space-between;

			button {
				width: 236px;
				height: 60px;
				margin-top: 40px;
				background: rgba(144, 53, 235, 0.08);
				border-radius: 8px;
				outline: none;
				border: none;
				box-shadow: none;
				font-weight: 900;
				font-size: 18px;
				color: $purple;

				.calendaricon {
					margin-right: 30px;
					height: 17px;
				}

				.mapicon {
					margin-right: 20px;
					height: 17px;
				}
			}

			button:hover {
				background: rgba(144, 53, 235, 0.08);
				box-shadow: none;
				cursor: default;
			}
		}

		button {
			width: 244.58px;
			height: 65px;
			margin-top: 40px;
			background: #9035eb;
			box-shadow: 6px 6px 30px -3px rgba(144, 53, 235, 0.8);
			border-radius: 25px;
			outline: none;
			border: none;
			font-weight: 900;
			font-size: 21px;
			color: white;
			transition: 0.3s;
		}

		button:hover {
			background: $blue;
			transition: 0.3s;
			cursor: pointer;
			transition: 0.3s;
			box-shadow: 12px 6px 30px -1px $blue;
		}
	}
}

@media only screen and (max-width: 1400px) {
	.gamegraphic {
		width: 472px;
		height: 664px;
		transform: translateX(0px) !important;
	}
}
