@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$blue: #37d1de;
$purple: #9035eb;
$yellow: #ffdd20;
$green: #58e8a2;

body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	width: 100%;
	background-color: white;
}
