@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$blue: #37d1de;
$purple: #9035eb;
$yellow: #ffdd20;
$green: #58e8a2;

body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	width: 100%;
	background-image: url(../public/background.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body {
	min-height: 100vh;
	min-width: 100vw;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.main-box {
	display: inline-block;
	min-height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	text-align: center;

	.message {
		margin-top: 0;
		padding-top: 0px;
		color: white;
		font-size: 25px;
		font-weight: 400;
	}

	.mail-button {
		font-size: 25px;
		font-weight: bold;
		color: white;
		padding: 20px 40px;
		border-radius: 10px;
		border: none;
		outline: none;
		background-color: rgba($color: $blue, $alpha: 0.5);
		transition: background-color 0.5s;
	}

	.mail-button:hover {
		background-color: rgba($color: $blue, $alpha: 0.7);
		cursor: pointer;
	}
}

.mail-popup-content {
	border-radius: 10px;
	background-color: blue;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	.mail-form {
		padding: 10%;
		margin-top: auto;

		input {
			width: 100%;
			height: 60px;
			text-align: center;
			margin-bottom: 5%;
			font-size: 30px;
			border-radius: 10px;
			border-style: solid;
			outline: none;
		}

		button {
			border: none;
			border-radius: 10px;
			padding: 3% 20%;
			font-size: 30px;
			font-weight: bold;
			color: white;
			background-color: $blue;
			transition: background-color 0.5s;
		}

		button:hover {
			background-color: rgba($color: $blue, $alpha: 1.5);
			cursor: pointer;
		}
	}
}

$breakpoint-mobile: 480px;
@media (max-width: $breakpoint-mobile) {
	.main-box {
		.message {
			font-size: 15px !important;
		}

		.mail-button {
			font-size: 15px !important;
			padding: 10px 20px !important;
		}
	}

	.mail-form {
		input {
			font-size: 20px !important;
		}

		button {
			font-size: 20px !important;
		}
	}
}
