$blue: #37d1de;
$purple: #9035eb;
$yellow: #ffdd20;
$green: #c5ff00;
$red: #ff726f;

.mainbox {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.splitboxes {
		width: 80%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 90px;
	}

	.rightbox {
		max-width: 900px;

		img {
			width: 550px;
		}

		button {
			border-radius: 9999px;
			background-color: $purple;
			color: white;
			font-weight: 600;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 15px 30px;
			font-size: 25px;
			transition: 0.3s;
		}

		button:hover {
			background-color: $blue;
			transition: 0.3s;
		}

		.message {
			font-size: 3.5vh;
			margin-top: 15px;
		}

		.color {
			color: $purple;
			font-weight: 800;
		}

		.bigwords {
			font-weight: bold;
			font-size: 10vh;
		}

		.tech {
			color: $red;
		}

		.business {
			color: $yellow;
		}

		.creativity {
			color: $green;
		}
	}

	.leftbox {
		transform: rotate(15deg);
		position: absolute;
		z-index: -99999999999999999999999999999999999999999999999999999999999999999;
		top: 32vh;
		left: 0%;

		img {
			width: 50vh;
			animation: ziplineyay 4s;
			animation-fill-mode: forwards;
		}

		@keyframes ziplineyay {
			from {
				transform: translate(0, 0);
			}

			to {
				transform: translate(40vh, 7.8vh);
			}
		}
	}
}