$blue: #37d1de;
$purple: #9035eb;
$yellow: #ffdd20;
$green: #58e8a2;

.navbox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    width: 70%;
    height: 90px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlogodiv {
    img {
        width: 90px;
    }
}

.navlinks {
    margin-right: 20px;

    ul {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: left;
    }

    li {
        display: inline;
        float: left;
    }

    a {
        display: block;
        margin: 0 0 0 20px;
        color: $blue;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
    }

    a:hover {
        color: $purple;
    }

    .navlinkactive {
        color: $purple;
    }
}
