$blue: #37d1de;
$purple: #9035eb;
$yellow: #ffdd20;
$green: #58e8a2;

.navbox {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-top: 10px;
}

.navlogo {
	width: 80px;
	border-radius: 99999px;
}

.nav {
	width: 70%;
	height: 90px;
	margin-top: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navlogodiv {
	img {
		width: 90px;
	}
}

.navlinks {
	margin-right: 20px;

	ul {
		display: inline;
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: left;
	}

	li {
		display: inline;
		float: left;
	}

	a {
		display: block;
		margin: 0 0 0 30px;
		color: white;
		text-decoration: none;
		font-weight: bold;
		font-size: 35px;
		transition: 0.3s;
	}

	a:hover {
		color: $purple;
		transition: 0.3s;
	}

	.navlinkactive {
		color: $purple;
	}
}
