$blue: #37d1de;
$purple: #9035eb;
$yellow: #ffdd20;
$green: #58e8a2;
$red: #ff726f;

.mainbox {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 160px;

	.content {
		width: 1200px;
		text-align: center;

		.teampic {
			width: 93%;
			border-radius: 20px;
			margin: 30px;
		}
	}

	.grid {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: auto auto auto;
		justify-items: center;
		align-items: center;

		.card {
			background-color: transparent;
			width: 296px;
			height: 444px;
			perspective: 1000px;
			margin-bottom: 25px;

			.cardinner {
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 20px;
				text-align: center;
				transition: transform 0.6s;
				transform-style: preserve-3d;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

				.cardfront {
					border-radius: 20px;

					.profilepic {
						width: 296px;
						border-radius: 20px;
					}
				}

				.cardback {
					text-align: left;
					border-radius: 20px;
					transform: rotateY(180deg);

					h1 {
						margin-top: 40px;
						margin-bottom: 0;
						color: $purple;
					}

					h2 {
						color: rgb(133, 133, 133);
    					margin: 10px 25px 25px 25px;
					}

					h1, h2, p {
						margin-left: 25px;
						margin-right: 25px;
					}
				}
			}
		}
	}
}

.card:hover .cardinner {
	transform: rotateY(180deg);
}

.cardfront,
.cardback {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
